
/*
Muted and Minimal
$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;

Warm and Bold
$black: #000000;
$ink: #062f4f;
$posy: #813772;
$embers: #b82601;

Earthy and Fresh
$terracotta: #945d60;
$herb: #626e60;
$chilli: #af473c;
$charcoal: #3c3c3c;
$sage: #cad0c8;

Tropical
$ocean: #1fb58f;
$sand: #eab126;
$cocktail: #f24c4e;
$palm: #1b73b4;

Unexpected combinations
$violet: #6e3667;
$lime: #88d317;
$plum: #1a0315;
$shadow: #535353;
$fuchia: #a239ca;
$ink: #062f4f;
*/

/* ======= ======= general ======= ======= */
html, body {
    height: 100%;
}
body {
    font-family: "Ariel", sans-serif;
}
p {
    margin: 10px 20px;
    font-size: 1em;
}

/* ======= center ======= */
#page-wrap {
    width: 90%;
    height: 100%;
    min-width: 300px;
    margin: 0 auto;
}

/* ======= clear floats ======= */
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

/*  ======= ======= sections ======= ======= */
.section {
    margin: 0;
    border: 2px solid #495247;
}
#header, #sidebar, #main, #footer {
    box-sizing: border-box;
}
#header, #footer {
    height: 10%;
    margin: 0;
    background-color: #945d60;
}
#sidebar, #main {
    float: left;
}
#sidebar {
    min-width: 160px;
    width: 20%;
    height: 80%;
    margin: 0;
    background-color: #813772;
}
#main {
    width: 80%;
    height: 40%;
    margin: 0;
    background-color: #96858f;
}
#cell-box {
    float: left;
    width: 80%;
    height: 40%;
}
#footer {
    clear: both;
}

/*  ======= ======= content cells ======= ======= */
.cell {
    float: left;
    height: 100%;
    width: 33.33%;
    background-color: #af473c;
    border: 2px solid #495247;
    box-sizing: border-box;
}
.photo-box {
    width: 100%;
    height: 80%;
    margin-top: 34px;
    background-size: contain;
    background-repeat: no-repeat;
}
#photo-left, #photo-mid, #photo-right {
    box-sizing: border-box;
}
#photo-left {
    background-image: url("../images/AlleyCat.jpg");
}
#photo-mid {
    background-image: url("../images/AfterUs.jpg");
}
#photo-right {
    background-image: url("../images/ChapterHouse_beers.jpg");
}

/*  ======= ======= responsive  ======= ======= */

/* ======= large desktop ======= */
@media all and (min-width: 1200px) {
    body {
        background-color: white;
    }
}

/* ======= desktop ======= */
@media all and (min-width: 980px) and (max-width: 1199px) {
    body {
        background-color: #96858f;
    }
    #header, #footer {
        height: 10%;
        margin: 0;
        background-color: #945d60;
    }
    #sidebar, #main {
        float: left;
    }
    #sidebar {
        min-width: 160px;
        width: 20%;
        height: 80%;
        margin: 0;
        background-color: #813772;
    }
    #main {
        width: 80%;
        height: 40%;
        margin: 0;
        background-color: #96858f;
    }
    #cell-box {
        float: left;
        width: 80%;
        height: 40%;
    }
}

/* ======= portrait tablet to landscape and desktop ======= */
@media all and (min-width: 768px) and (max-width: 979px) {
    body {
        background-color: #6d7993;
    }
    #sidebar, #main {
        float: left;
        display: inline-block;
        width: 50%;
        height: 220px;
    }
    #sidebar {
        background-color: #88d317;
    }
    #cell-box {
        clear: both;
        width: 100%;
        height: 40%;
    }
}

/* ======= portrait tablet to landscape and desktop ======= */
@media all and (min-width: 468px) and (max-width: 767px) {
    body {
        background-color: #9099a2;
    }
    #sidebar, #main {
        display: inline-block;
        width: 50%;
        height: 220px;
    }
    #sidebar {
        background-color: #a239ca;
    }
    #cell-box {
        clear: both;
        width: 100%;
    }
    .cell {
        width: 100%;
    }
    .photo-box {
        width: 90%;
        margin: 0 auto;
    }
    #cell-left, #cell-mid {
        float: left;
        display: inline-block;
        width: 50%;
    }
    #cell-right {
        clear: both;
        display: block;
        width: 100%;
    }
}

/* ======= landscape phone to portrait tablet ======= */
@media all and (min-width: 320px) and (max-width: 467px) {
    body {
        background-color: #d5d5d5;
    }
    #header, #footer {
        height: 60px;
    }
    #sidebar, #main {
        clear: both;
        display: block;
        height: 160px;
        width: 100%;
    }
    #sidebar {
        background-color: #f24c4e;
    }
    #cell-box {
        clear: both;
        width: 100%;
    }
    .cell {
        width: 100%;
    }
    .photo-box {
        width: 90%;
        margin: 0 auto;
    }
}

/* ======= landscape phone ======= */
@media all and (max-width: 319px) {
    body {
        background-color: thistle ;
        min-width: 300px;
    }
    #header, #footer {
        height: 60px;
    }
    #sidebar, #main {
        display: block;
        height: 160px;
        width: 100%;
    }
    #sidebar {
        background-color: #f24c4e;
    }
    #cell-box {
        clear: both;
        width: 100%;
    }
    #cell-left, #cell-mid, #cell-right {
        clear: both;
        display: block;
        width: 100%;
        height: 160px;
    }
    .photo-box {
        width: 140px;
        /*height: auto;*/
        margin: 0 auto;
    }
}

/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
