
/*
Muted and Minimal
$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;

Warm and Bold
$black: #000000;
$ink: #062f4f;
$posy: #813772;
$embers: #b82601;

Earthy and Fresh
$terracotta: #945d60;
$herb: #626e60;
$chilli: #af473c;
$charcoal: #3c3c3c;

Tropical
$ocean: #1fb58f;
$sand: #eab126;
$cocktail: #f24c4e;
$palm: #1b73b4;

Unexpected combinations
$violet: #6e3667;
$lime: #88d317;
$plum: #1a0315;
$shadow: #535353;
$fuchia: #a239ca;
$ink: #062f4f;
*/

/* ======= ======= general ======= ======= */
html, body {
    height: 100%;
}
body {
    font-family: "Ariel", sans-serif;
}
p {
    margin: 10px 20px;
}

/* ======= center ======= */
#page-wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* ======= clear floats ======= */
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

/*  ======= ======= sections ======= ======= */
.section {
    margin: 0;
    border: 2px solid #495247;
}
#header, #sidebar, #main, #footer {
    box-sizing: border-box;
}
#header, #footer {
    height: 100px;
    margin: 0;
    background-color: #945d60;
}
#sidebar, #main {
    display: table-cell;
}
#sidebar {
    min-width: 160px;
    height: 300px;
    margin: 0;
    background-color: #eee;
}
#main {
    width: 100%;
    height: 300px;
    margin: 0;
    background-color: #96858f;
}
#footer {
    clear: both;
}

/*  ======= ======= content cells ======= ======= */
.cell {
    float: left;
    height: 310px;
    background-color: #af473c;
    border: 2px solid #495247;
    box-sizing: border-box;
}
#cell-left, #cell-mid, #cell-right {
    width: 33.33%;
}

/*  ======= ======= responsive  ======= ======= */

/* ======= large desktop ======= */
@media all and (min-width: 1200px) {
    body {
        background-color: white;
    }
}

/* ======= desktop ======= */
@media all and (min-width: 980px) and (max-width: 1199px) {
    body {
        background-color: #879484;
    }
    #sidebar {
        background-color: #626e60;
    }
}

/* ======= portrait tablet to landscape and desktop ======= */
@media (min-width: 468px) and (max-width: 779px) {
    body {
        background-color: #1a0315;
    }
    #sidebar {
        background-color: #535353;
    }
    #main {
        /*width: calc(100% - 135px);*/
    }
    #col-left {
        /*float: left;
        width: 49%;*/
    }
    #col-mid {
        /*width: 49%;*/
    }
    #col-right {
        /*width: 99%;*/
    }
    #footer {
        /*clear: both;*/
    }
}

/* ======= landscape phone to portrait tablet ======= */
@media (min-width: 179px) and (max-width: 468px) {
    body {
        background-color: peachpuff ;
    }
    #header {
        width: 100%;
    }
    #content1 {
        height: 400px;
    }
    #sidebar {
        clear: both;
        width: 100%;
        height: 200px;
    }
    #main {
        clear: both;
        width: 100%;
    }
    #col-left, #col-mid, #col-right {
        width: 100%;
    }
    #footer {
        clear: both;
    }
}

/* ======= landscape phone ======= */
@media (max-width: 180px) {
    body {
        background-color: thistle ;
    }
}





/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
/*  ======= ======= ARCHIVE  ======= ======= */
